/*
1. Позиционирование
2. Блочная модель
3. Типографика
4. Оформление
5. Анимация
6. Разное
*/

/* Fonts - start */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../src/fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'),
  url('../src/fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('../src/fonts/roboto-v29-latin_cyrillic-500.woff2') format('woff2'),
  url('../src/fonts/roboto-v29-latin_cyrillic-500.woff') format('woff');
}

/* Fonts - end */


:root {
  --text: #121920;
  --text-additional: #bbc4d6;
  --text-name: #768298;

  --border: #EBEBF1;

  --background: #ffffff;
}

/* Global style - start*/

*, *:before, *:after {
  box-sizing: border-box
}

.page {
  height: 100%;
}

.page,
.page-body {
  min-width: 375px;
}

.page-body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: var(--text);

  background-color: var(--background);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
}

.container {
  margin: 0 auto;
  padding: 0 20px;

  width: auto;
  max-width: 1210px;
}

/* Global style - end */

/* header - start */

.header {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  margin: 16px auto;
}

@media (min-width: 768px) {
  .header__wrapper {
    flex-wrap: nowrap;
    gap: clamp(50px, 5.13vw, 60px);
    margin: 0 auto;
    height: 80px;
  }
}

@media (min-width: 1170px) {
  .header__wrapper {
    flex-wrap: nowrap;
    margin: 0 auto;
    height: 80px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  min-width: 135px;
  order: 1;
}

.header__logo__img {
  align-self: center;
}

@media (min-width: 768px) {
  .header__logo__img {
    margin-top: 5px;
  }
}

.header__user {
  order: 2;
  align-self: center;

  width: 24px;
  height: 24px;

  background-image: url("../src/img/user-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header__user {
    display: flex;
    justify-content: right;
    align-items: center;
    order: 3;
    margin: 0;
    width: auto;
    height: 100%;
    min-width: 150px;

    background: none;
    border-left: 1px solid #EBEBF1;
  }
}

.header__user__name,
.header__user__avatar {
  display: none;
}

@media (min-width: 768px) {
  .header__user__name,
  .header__user__avatar {
    display: block;
  }

  .header__user__name {
    margin-right: 10px;
    color: var(--text-name);
  }

  .header__user__avatar {
    width: 40px;
    height: 40px;
  }
}

.header__search {
  display: flex;
  align-items: center;
  order: 2;
  position: relative;
  width: 100%;
}

.header__search::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url("../src/img/search.svg");
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;
}

.header__search::after {
  content: "";
  position: absolute;
  top: 0;
  left: -21px;
  width: calc(100% + 20px * 2);
  height: 1px;
  background: var(--text-additional);
  opacity: 0.5;
}

@media (min-width: 768px) {
  .header__search::before {
    left: 11px;
  }

  .header__search::after {
    display: none;
  }
}

.header__search__input {
  width: 100%;
  height: 40px;
  padding-left: 28px;
  padding-top: 8px;
  padding-bottom: 8px;

  color: var(--text-additional);
  border: none;
}

@media (min-width: 768px) {
  .header__search__input {
    padding-left: 38px;
    border: 1px solid var(--border);
    border-radius: 5px;
  }
}

/* header - end */

/* main - start */

.partners {
  margin-top: 72px;
}
@media (min-width: 768px) {
  .partners {
    margin-top: 70px;
  }
}

.partners__title {
  font-weight: 500;
  font-size: clamp(28px, 3.08vw, 36px);
  line-height: 160%;

  text-transform: uppercase;
}

.partners__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: clamp(20px, 2.56vw, 30px);
  padding: 0;
  margin-top: 30px;
}

.partners__item {
  list-style: none;
  width: 100%;
  min-width: 229px;
  max-width: 100%;
  height: 140px;

  border: 1px solid #EBEBF1;
  box-sizing: border-box;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .partners__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .partners__item {
    /*max-width: 229px;*/
    width: 30%;
    height: 120px;
  }
}

@media (min-width: calc(1170px + 40px)) {
  .partners__item {
    max-width: 270px;
    width: 25%;
  }
}

.partners__item:hover,
.partners__item:focus {
  border: 1px solid var(--border);
  box-shadow: -3px 0 40px rgba(0, 0, 0, 0.1), 0 0 10px rgba(164, 164, 164, 0.03);
  border-radius: 5px;
}

.partners__item__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  width: 100%;
  height: 100%;
}

.partners__item__img {
  max-height: 100%;
}

@media (min-width: 768px) {
  .partners__item__link {
    padding: 15px;
  }
}

@media (min-width: 1170px) {
  .partners__item__link {
    padding: 28px 18px;
  }
}

/* main - end */