/*
1. Позиционирование
2. Блочная модель
3. Типографика
4. Оформление
5. Анимация
6. Разное
*/

/* Fonts - start */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../src/fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'),
  url('../src/fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('../src/fonts/roboto-v29-latin_cyrillic-500.woff2') format('woff2'),
  url('../src/fonts/roboto-v29-latin_cyrillic-500.woff') format('woff');
}

/* Fonts - end */


:root {
  --text: #000000;
  --text-additional: #bbc4d6;

  --background: #ffffff;
}

/* Global style - start*/

*, *:before, *:after {
  box-sizing: border-box
}

.page {
  height: 100%; /* для гридов*/
}

.page,
.page-body {
  min-width: 375px;
}

.page-body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: var(--text);

  background-color: var(--background);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
}

.container {
  margin: 0 auto;
  padding: 0 20px;

  width: auto;
}

/*@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 24px;
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0 16px;
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 30px;
    width: 1140px;
  }
}*/

/* Global style - end */

/* header - start */

.header {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.header__logo {

}

.header__logo__img {
  display: flex;
  align-self: center;
}

.header__user {
  align-self: center;
  margin-top: 4px;

  width: 24px;
  height: 24px;

  background-image: url("../src/img/user-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.header__user__name,
.header__user__avatar {
  display: none;
}

.header__search {
  position: relative;
  width: 100%;
}

.header__search::before {
  content: "";
  position: absolute;
  top: 9px;
  width: 24px;
  height: 24px;
  background-image: url("../src/img/search.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.header__search::after {
  content: "";
  position: absolute;
  left: -21px;
  width: calc(100% + 21px * 2);
  height: 1px;
  background: var(--text-additional);
  opacity: 0.5;
}

.header__search__input {
  width: 100%;
  height: 40px;
  padding-left: 28px;
  padding-top: 8px;
  padding-bottom: 8px;

  color: var(--text-additional);

  border: none;
}

/* header - end */

/* main - start */

.partners {
  margin-top: 72px;
}

.partners__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 160%;

  text-transform: uppercase;
}

.partners__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin-top: 30px;
}

.partners__item {
  list-style: none;
  width: 100%;
  height: 140px;
}

.partners__item__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* main - end */

/* footer - start */

/* footer - end */
